<?xml version="1.0"?>
<config>
    <modules>
        <GeniusDev_ReCaptcha>
            <version>0.1.2</version>
        </GeniusDev_ReCaptcha>
    </modules>
    <global>
        <blocks>
            <geniusdev_recaptcha>
                <class>GeniusDev_ReCaptcha_Block</class>
            </geniusdev_recaptcha>
            <captcha>
                <rewrite>
                    <captcha>GeniusDev_ReCaptcha_Block_Captcha</captcha>
                </rewrite>
            </captcha>
        </blocks>
        <models>
            <geniusdev_recaptcha>
                <class>GeniusDev_ReCaptcha_Model</class>
            </geniusdev_recaptcha>
            <captcha>
                <rewrite>
                    <observer>GeniusDev_ReCaptcha_Model_Observer</observer>
                    <zend>GeniusDev_ReCaptcha_Model_Zend</zend>
                </rewrite>
            </captcha>
        </models>
        <helpers>
            <geniusdev_recaptcha>
                <class>GeniusDev_ReCaptcha_Helper</class>
            </geniusdev_recaptcha>
            <captcha>
                <rewrite>
                    <data>GeniusDev_ReCaptcha_Helper_Data</data>
                </rewrite>
            </captcha>
        </helpers>
        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <contacts_recaptcha>
                        <class>geniusdev_recaptcha/observer</class>
                        <method>contactFormPredispatch</method>
                    </contacts_recaptcha>
                </observers>
            </controller_action_predispatch_contacts_index_post>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <geniusdev_recaptcha>
                    <file>geniusdev/recaptcha.xml</file>
                </geniusdev_recaptcha>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <geniusdev_recaptcha>
                    <file>geniusdev/recaptcha.xml</file>
                </geniusdev_recaptcha>
            </updates>
        </layout>
    </adminhtml>
</config>